<div id='wrapper'>
  		<div class='cool_btn1 green'>
				<h1 class='top'>126 <i>Plays</i></h1>
				<h2>H</h2>
			</div>
			<div class='cool_btn1 teal'>
				<h1 class='top'>10k <i>Likes</i></h1>
				<h2>U</h2>
			</div>
			<div class='cool_btn1 blue'>
				<h1 class='top'>240 <i>Likes</i></h1>
				<h2>G</h2>
			</div>
			<div class='cool_btn1 orange'>
				<h1 class='top'>21k <i>Points</i></h1>
				<h2>)</h2>
			</div>
		</div>	